body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero {
  color: black;
}

h1, h2 {
  color: #333;
}

.card {
  width: 100%;
  max-width: 500px;
}

.card img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card:hover {
  background-color: #f8f9fa;
  transform: scale(1.05);
}

.language-info {
  display: none;
  background-color: white;
  padding: 5px;
  border: 1px solid #ddd;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
}

.list-inline-item:hover .language-info {
  display: block;
}

.custom-icon {
  width: 3em;
  height: 3em;
  fill: gray;
  margin-right: 10px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  background-color: #343a40;
  padding: 20px 0;
  color: white;
  text-align: center;
}

footer a {
  color: #ffc107;
}

.carousel-inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.carousel-item {
  flex: 0 0 33.333%; /* Adjust width as needed */
  max-width: 33.333%; /* Adjust width as needed */
  height: auto;
}

.carousel-item.active {
  display: block;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
  border-radius: 50%;
  padding: 10px;
}

